.hero {
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  max-width: 960px;
  min-height: 300px;
}

.heroBannerBtn {
  position: absolute;
  padding: 14px 56px;
  bottom: 50px;
  left: 60px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background-color: #a5d364;
  border-radius: 110px;
  transition: background-color var(--duration) ease;

  &:hover {
    background-color: #8ebf4c;
  }
}

