.card {
  position: relative;
  grid-column: 2 span;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  background-color: #fff;
  transition:
    box-shadow var(--duration) ease,
    transform var(--duration) ease;

  &:hover {
    box-shadow: 0 14px 30px rgb(0 0 0 / 5%);
    transform: translateY(-5px);
  }

  @media (max-width: 768px) {
    padding: 20px 30px;

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }
}

.cardImg {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.cardTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cardMetaWrapper {
  display: flex;
  justify-content: space-between;
}

.cardMeta {
  p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}

.likeBtn {
  position: absolute;
  left: 30px;
  top: 30px;

  &:hover {
    border-color: #ff858592;
    background-color: #fef0f0;
  }
}

.like {
  position: relative;
  display: block;
}

.likeIcon {
  z-index: 5;
  transition: transform var(--duration) ease;

  svg {
    position: absolute;
    left: 25%;
    top: 25%;
    width: var(--length);
    transition:
      background-color var(--duration) ease,
      transform calc(var(--duration) * 1.5) ease,
      opacity calc(var(--duration) * 1.5) ease;
    pointer-events: none;

    path {
      fill: #e5e5e5;
    }
  }
}

.likeBtnActive {
  svg.below {
    opacity: 0;
    transform: scale(2);

    path {
      fill: #fc2d2d;
    }
  }

  svg.front {
    path {
      fill: #fc2d2d;
    }
  }
}

.cardBtn {
  svg.check {
    width: 18px;
    height: 18px;
    transition: transform calc(var(--duration) * 1.5) ease;
    pointer-events: none;

    path {
      stroke-dasharray: 90 90;
      stroke-dashoffset: 90;
      opacity: 0;
      transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
    }
  }

  svg.plus {
    position: absolute;
    width: 12px;
    height: 12px;
    opacity: 1;
    pointer-events: none;
  }

  &:hover {
    border-color: #18c91b79;
    background-color: #1fc12211;
  }
}

.cardBtnActive {
  background-image: none;

  svg.plus {
    opacity: 0;
    transform: rotate(45deg);
  }

  svg.check {
    path {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}