.drawerOverlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--duration) ease,
    visibility var(--duration) ease,
    transform var(--duration) ease;
}

.drawerActive {
  opacity: 1;
  visibility: visible;

  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 385px;
  height: 100%;
  box-shadow: -10px 4px 24px rgb(0 0 0 / 10%);
  background-color: #fff;
  transform: translate(100%);
  transition: transform var(--duration) ease;

  @media (max-width: 576px) {
    width: 300px;
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.cartEmpty {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 285px;
  text-align: center;
}

.cartEmptyTitle {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.cartEmptyDescr {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: 576px) {
    position: relative;
    display: flex;
    flex-direction: column;

    .cartBtnDelete {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}

.cartImg {
  margin-right: 21px;
  width: 70px;
  height: 70px;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
    margin: 0 auto;
  }
}

.cartItemMeta {
  margin-right: 12px;
  max-width: 150px;

  h4 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: 576px) {
    margin-right: 0;
    text-align: center;
  }
}

.cartWrapper {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 40px;
}

.drawerBottom {
  flex: 0 1;
}

.drawerBottomItem {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  span {
    font-size: 16px;
  }

  div {
    position: relative;
    bottom: 4px;
    flex: 1;
    margin: 0 7px;
    border-bottom: 1px dashed #dfdfdf;
  }

  b {
    font-weight: 600;
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cartBtnDelete {
  svg {
    transform: rotate(45deg);
    transition: transform var(--duration) ease;

    path {
      transition: fill var(--duration) ease;
    }
  }

  &:hover {
    border-color: #f009;
    background-color: rgb(255 223 223 / 48.3%);

    svg {
      transform: rotate(0);

      path {
        fill: #f009;
      }
    }
  }
}

.cartClose {
  svg {
    pointer-events: none;
  }
}