:root {
  --length: 15px;
  --duration: 0.3s;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-SemiBold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Bold.woff2');
  font-weight: 700;
}

// Main styles index page

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

button, input {
  font-family: 'Inter', sans-serif;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.disable-scroll {
  overflow: hidden;
  margin-right: var(--scroll-width);
}

.container {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
}

.content {
  padding: 40px;
}

.subtitle {
  padding: 0;
  margin: 0;
  max-width: 650px;
  overflow: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.sneakersHead {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.searchBlock {
  display: flex;
  align-items: center;
  max-width: 250px;
  border: 1px solid #f3f3f3;
  border-radius: 10px; 
  
  input {
    border: none;
    padding: 13.5px 0;
    font-size: 16px;
    width: 100%;

    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0.8;
      }
    }
  }

  img {
    padding: 0 18px;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
}

// Btns

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.itemBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  cursor: pointer;
  transition: transform var(--duration) ease,
  background-color var(--duration) ease,
  border-color var(--duration) ease;

  svg {
    transition: transform var(--duration) ease;
    transform: rotate(0);
  }
}

.greenBtn {
  margin-top: 25px;
  position: relative;
  width: 100%;
  padding: 18px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border-radius: 18px;
  background-color: #a5d364;

  img {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: transform var(--duration) ease;
  }

  &:hover {
    background-color: #8ebf4c;
    img {
      transform: translateX(5px);
    }
  }

  &:disabled {
    background-color: #bebebe;
    cursor: default;
    &:hover {
      background-color: #bebebe;
      img {
        transform: none;
      }
    }
  }
}

.greenBtnReverse {
  img {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  &:hover {
    img {
      transform: translateX(-5px);
    }
  }
}

// swiper custom btn styles
.swiper-button-prev {
  width: 35px !important;
  height: 35px !important;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 43px;
  background-image: url('../public/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  transition: box-shadow var(--duration) ease;

  &::after {
    content: '' !important;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
  }
}

.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 43px;
  background-image: url('../public/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow var(--duration) ease;


  &::after {
    content: '' !important;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
  }
}

