:root {
  --length: 15px;
  --duration: 0.3s;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

button, input {
  font-family: 'Inter', sans-serif;
}

.container {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

header {
  padding: 40px;
  border: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .headerRight {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      &:not(:last-child) {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

    }
  }
}

.headerBtn {
  padding: 10px;
}

.cartBtn {
  &:hover {
    svg {
      path {
        transition: stroke var(--duration) ease;
        stroke: ё#ffb700;
      }
    }
  }
}

.favoritesBtn {
  &:hover {
    svg {
      path {
        transition: fill var(--duration) ease;
        fill: #ff5a5f;
      }
    }
  }
}

.userBtn {
  &:hover {
    svg {
      path {
        transition: fill var(--duration) ease;
        fill: #18c91b;
      }
    }
  }
}

.cartPrice {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}

.hero {
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  max-width: 960px;
  min-height: 300px;
}

.heroBannerBtn {
  position: absolute;
  padding: 14px 56px;
  bottom: 50px;
  left: 60px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background-color: #a5d364;
  border-radius: 110px;
  transition: background-color var(--duration) ease;

  &:hover {
    background-color: #8ebf4c;
  }
}

.swiper-button-prev {
  width: 35px !important;
  height: 35px !important;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 43px;
  background-image: url('../public/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  transition: box-shadow var(--duration) ease;

  &::after {
    content: '' !important;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
  }
}

.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 43px;
  background-image: url('../public/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow var(--duration) ease;


  &::after {
    content: '' !important;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) !important;
  }
}

.content {
  padding: 40px;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.sneakersHead {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.searchBlock {
  display: flex;
  align-items: center;
  padding: 13.5px 0;
  max-width: 250px;
  border: 1px solid #f3f3f3;
  border-radius: 10px; 
  
  input {
    border: none;
    font-size: 16px;
    width: 100%;
  }

  img {
    padding: 0 18px;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
}

.card {
  position: relative;
  grid-column: 2 span;
  padding: 30px;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  transition: box-shadow var(--duration) ease;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  }
}

.cardTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cardMeta {
  p {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}

.cardBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  transition: transform var(--duration) ease,
    background-color var(--duration) ease,
    border-color var(--duration) ease;

  img {
    pointer-events: none;
    position: absolute;
    transform: none;
    opacity: 1;
  }

  svg {
    width: 18px;
    height: 18px;
    pointer-events: none;
    transition: transform calc(var(--duration) * 1.5) ease;

    path {
      opacity: 0;
      stroke-dasharray: 90 90;
      stroke-dashoffset: 90;
      transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
    }
  }

  &:hover {
    background-color: #1fc12211;
    border-color: #18c91b79;
  }
}

.cardBtnActive {
  transition: background-color var(--duration) ease,
    border-color var(--duration) ease;
  background-image: none;

  img {
    animation: hiddenPlus var(--duration) ease;
    opacity: 0;
  }

  svg {
    path {
      opacity: 1;
      stroke-dashoffset: 0;
    }
  }
}

.cardLikeBtn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.like-icon {
  transition: transform var(--duration) ease;
  z-index: 5;

  svg {
    position: absolute;
    top: 25%;
    left: 25%;
    width: var(--length);

    transition: background-color var(--duration) ease,
      transform calc(var(--duration) * 1.5) ease,
      opacity calc(var(--duration) * 1.5) ease;

    path {
      fill: #e5e5e5;
    }
  }
}

.checkbox {
  position: absolute;
  visibility: hidden;
  z-index: -1;

  &:checked {
    ~.like-icon {
      svg.below {
        transform: scale(2.0);
        opacity: 0;

        path {
          fill: #ff8585;
        }
      }

      svg.front {
        path {
          fill: #ff8585;
        }
      }
    }
  }
}

.like {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  transition: background-color var(--duration) ease,
    border-color var(--duration) ease;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  cursor: pointer;


  &:hover {
    background-color: #fef0f0;
    border-color: #ff858592;
  }
}

@keyframes hiddenPlus {
  0% {
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform: rotate(180deg);
    opacity: 0;
  }
}